includes:
    - config/extension.neon

parameters:
    level: 8

    type_perfect:
        no_param_type_removal: true
        no_isset_on_object: true
        no_empty_on_object: true

    paths:
        - src
        - tests
        - packages/type-perfect/src
        - packages/type-perfect/tests

    type_coverage:
        # coverage
        declare: 100

        # type declarations
        return_type: 99.9
        param_type: 100
        property_type: 100
        constant_type: 100

    ignoreErrors:
        - identifier: missingType.generics

        # used in tests
        - message: '#Public constant "TomasVotruba\\TypeCoverage\\(.*?)::ERROR_MESSAGE" is never#'
        - message: '#Public constant "Rector\\TypePerfect\\(.*?)::ERROR_MESSAGE" is never#'

        # inherited from rector/type-perfect, resolving these means rewriting the rule internals
        -
            identifier: phpstanApi.instanceofType
            paths:
                - packages/type-perfect/src
        -
            identifier: phpstanApi.instanceofAssumption
            paths:
                - packages/type-perfect/src

        # needed to access metadata about paths
        -
            message: '#PHPStan\\Analyser\\LazyInternalScopeFactory#'
            identifier: phpstanApi.class

        -
            message: '#PHPStan\\DependencyInjection\\Nette\\NetteContainer#'
            identifier: phpstanApi.method

        -
            message: '#PHPStan\\DependencyInjection\\MemoizingContainer#'
            identifier: phpstanApi.class

        # on purpose with dynamic PHP version
        -
            identifier: smaller.alwaysFalse
            paths:
                - src/Rules/ConstantTypeCoverageRule.php
                - src/Collectors/ConstantTypeDeclarationCollector.php
                - src/Configuration.php

    excludePaths:
        - "*/Fixture/*"
        - "*/Source/*"
