includes:
    - config/extension.neon

parameters:
    level: 8

    paths:
        - src
        - tests

    type_coverage:
        # coverage
        declare: 100

        # type declarations
        return_type: 99.9
        param_type: 100
        property_type: 100
        constant_type: 100

    ignoreErrors:
        - identifier: missingType.generics

        # used in tests
        - message: '#Public constant "TomasVotruba\\TypeCoverage\\(.*?)::ERROR_MESSAGE" is never#'

        # needed to access metadata about paths
        -
            message: '#PHPStan\\Analyser\\LazyInternalScopeFactory#'
            identifier: phpstanApi.class

        -
            message: '#PHPStan\\DependencyInjection\\Nette\\NetteContainer#'
            identifier: phpstanApi.method

        -
            message: '#PHPStan\\DependencyInjection\\MemoizingContainer#'
            identifier: phpstanApi.class

        # on purpose with dynamic PHP version
        -
            identifier: smaller.alwaysFalse
            paths:
                - src/Rules/ConstantTypeCoverageRule.php
                - src/Collectors/ConstantTypeDeclarationCollector.php
                - src/Configuration.php

    excludePaths:
        - "*/Fixture/*"
        - "*/Source/*"
