includes:
    - config/extension.neon

parameters:
    level: 8

    paths:
        - src
        - tests

    type_coverage:
        # coverage
        declare: 100

        # type declarations
        return_type: 99.9
        param_type: 100
        property_type: 100

        # only show final data, no error report
        measure: true

    ignoreErrors:
        - identifier: missingType.generics

    excludePaths:
        - "*/Fixture/*"
        - "*/Source/*"
