parametersSchema:
    type_coverage: structure([
        return_type: int()
        param_type: int()
        property_type: int()
        print_suggestions: bool()
    ])

# default parameters
parameters:
    type_coverage:
        return_type: 99
        param_type: 99
        property_type: 99
        print_suggestions: false

services:
    - TomasVotruba\TypeCoverage\Formatter\TypeCoverageFormatter

    -
        factory: TomasVotruba\TypeCoverage\Configuration
        arguments:
            - %type_coverage%

    # collectors
    -
        class: TomasVotruba\TypeCoverage\Collectors\ReturnTypeDeclarationCollector
        tags:
            - phpstan.collector

    -
        class: TomasVotruba\TypeCoverage\Collectors\ParamTypeDeclarationCollector
        tags:
            - phpstan.collector

    -
        class: TomasVotruba\TypeCoverage\Collectors\PropertyTypeDeclarationCollector
        tags:
            - phpstan.collector

rules:
    - TomasVotruba\TypeCoverage\Rules\ParamTypeCoverageRule
    - TomasVotruba\TypeCoverage\Rules\ReturnTypeCoverageRule
    - TomasVotruba\TypeCoverage\Rules\PropertyTypeCoverageRule
