parametersSchema:
    # see https://doc.nette.org/en/schema for configuration
    type_coverage: structure([
        return_type: anyOf(float(), int())
        param_type: anyOf(float(), int())
        property_type: anyOf(float(), int())
        print_suggestions: bool()
    ])

# default parameters
parameters:
    type_coverage:
        return_type: 99
        param_type: 99
        property_type: 99
        # default, yet deprecated
        print_suggestions: true

services:
    - TomasVotruba\TypeCoverage\Formatter\TypeCoverageFormatter
    - TomasVotruba\TypeCoverage\CollectorDataNormalizer

    -
        factory: TomasVotruba\TypeCoverage\Configuration
        arguments:
            - %type_coverage%

    # collectors
    -
        class: TomasVotruba\TypeCoverage\Collectors\ReturnTypeDeclarationCollector
        tags:
            - phpstan.collector

    -
        class: TomasVotruba\TypeCoverage\Collectors\ParamTypeDeclarationCollector
        tags:
            - phpstan.collector

    -
        class: TomasVotruba\TypeCoverage\Collectors\PropertyTypeDeclarationCollector
        tags:
            - phpstan.collector

rules:
    - TomasVotruba\TypeCoverage\Rules\ParamTypeCoverageRule
    - TomasVotruba\TypeCoverage\Rules\ReturnTypeCoverageRule
    - TomasVotruba\TypeCoverage\Rules\PropertyTypeCoverageRule
